tbody tr:hover {
  cursor: pointer;
}

.name-cell {
  display: flex;
  align-items: center;
}

.profile-circle {
  width: 35px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background: whitesmoke;
  margin-right: 20px;
  overflow: hidden;
}
