.container {
  min-height: 100vh; /* Ensure the container takes the full viewport height */
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  padding: 120px 20px;
}
.header {
  position: fixed;
  width: 100%;
  background-color: #1e88e5;
  color: white;
  text-align: center;
}

.main {
  flex: 1;

  padding: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.footer {
  color: #fff;

  width: 100%;
  flex-shrink: 0;
}
